@charset "utf-8";

body{
    background: peachpuff;
    margin: center;
    height: auto;
    padding: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    padding: auto;
    margin: auto;

}
 footer{
    padding: auto;
    margin: 12px;
 }
 
